*{
    margin: 0;
    padding: 0;
    background: #ffff;
}

html,
body {
  width: 100%;
  height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    background-color: #24272A;
    /*background-color: #c2b79b;*/
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

    padding-left: 200px;
    color: #fff;
    background: #24272A;
}

.img{

    width: 80px;
    height: 80px;
    border-radius: 5px;

    background-image: url(../imgs/logo_pk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gravacao{
    display: flex;  
    justify-content: center;
    background-color: #666666;
}

#cliente, #modelo, #placa{
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    margin: 20px;
    border: 1px solid #665e52;
}

#cadastrar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    margin: 20px;
    width: 110px;
    height: 40px;
    
    color: white;
    background-color: #243757;    
}

#cadastrar:hover{
    box-shadow: 5px 5px 5px #0006;
    background-color: #27a9e1;
    transition: all .3s;
}

main{
    display: flex;
    justify-content: space-around;
}

table{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    border: 0.1px solid black;
    box-shadow: 2px 2px 2px #0006;
    background-color: #7b746bb1;
}

thead{
    margin: 5px;
    padding: 10px;
    border: 0.1px solid black;
 }

th{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 5px;
}

 tbody{
    margin: 5px;
    padding: 5px;
    border: 0.1px solid black;
 }

 button{
    cursor: pointer;
    
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    
    color: white;
    background-color: #243757; 
 }

 button:hover{
    box-shadow: 2px 2px 2px #0006;
    background-color: #27a9e1;
    transition: all .3s;
 }

footer{
    font-style: italic;
    text-align: center;
    color: black;
    padding: 5px;
    margin-top: 440px;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    transition: .3s;
    color: rgb(162, 151, 151);
}

/*Media queries*/

@media (min-width: 1033px){
    
    header{
        flex-wrap: wrap;
    }
}

@media (max-width: 380px)
{

    body{
       margin: 0;
    }

    header{
        margin: 0;
        display: flex;
        justify-content: left;
    }

    h1{
        padding: 5px;
        margin: 0;
        font-size: 1.3rem;
    }

    img{
        width: 30px;
        height: 30px;
    }

    table{
        width: 80%;
    }

    tr th:nth-child(4),
    td:nth-child(4){
        display: none;
    }

    .gravacao{
        flex-wrap: wrap;
    }

    #cliente, #modelo, #placa{
        text-align: center;
        border-radius: 5px;
        padding: 8px;
        margin: 12px;
        border: 1px solid #665e52;
    }

    footer{
        margin-top: 110px;
    }
}

@media (max-width: 700px)
{

    body{
       margin: 0;
    }

    header{
        margin: 0;
        display: flex;
        justify-content: left;
    }

    h1{
        padding: 5px;
        margin: 0;
        font-size: 1.3rem;
    }

    img{
        width: 30px;
        height: 30px;
    }

    table{
        width: 95%;
    }

    tr th:nth-child(4),
    td:nth-child(4){
        display: none;
    }

    .gravacao{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #cliente, #modelo, #placa{
        text-align: center;
        border-radius: 5px;
        padding: 8px;
        margin: 12px;
        border: 1px solid #665e52;
    }

    footer{
        margin-top: 110px;
    }
}

